* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.active {
  color: #f26341 !important;
}

.wrapper-container {
  height: calc(100vh - 96px);
  overflow-y: auto;
}

.card-deck {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/*scrollbar css*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(33, 37, 41);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}